body {
	min-width: 1000px;
}

/* Main Content Panel CSS */

.main-content {
	background-color: black;
	float: left;
	width: 80%;
}

.wrapper-site {
	height: 1000px;
}

.map-div {
	height: 100%;
}

#map {
	width:100%;
	height:940px;
}

.header {
	text-align: center;
	height: 60px;
}

.main-header {
	background-color: #32CD32;
}

.hitchhiker-text {
	font-size: 20px;
	display: inline-block;
}

/* Left Navigation Bar CSS */
.left-header {
	background-color: #32CD32;
}

.nav-text {
	text-align: center;
	font-size: 17px;
	font-weight: 700;
}

.left-content {
	width: 20%;
	float: left;
	height: 100%;
	background-color: gray;
}

.sign-in {
	height: 60px;
	display: inline-block;
}

.nav-boxes {
	height: 100%;
}

/* Google Autcomplete CSS */
.controls {
	margin-top: 10px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
}

#pac-input:focus {
	border-color: #4d90fe;
}

.pac-container {
	font-family: Roboto;
}

#type-selector {
	color: #fff;
	background-color: #4d90fe;
	padding: 5px 11px 0px 11px;
}

#type-selector label {
	font-family: Roboto;
	font-size: 13px;
	font-weight: 300;
}

#target {
	width: 345px;
}