@(heading: String)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Hitchhiker</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("plugins/bower_components/ngQuickDate/dist/ng-quick-date.css")">
    <link rel="stylesheet" href="@routes.Assets.at("plugins/bower_components/ngQuickDate/dist/ng-quick-date-default-theme.css")">
    <!-- Necessary JS Scripts -->
    <!-- These should be at the bottom, but lol -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="@routes.Assets.at("plugins/bower_components/ngQuickDate/dist/ng-quick-date.min.js")"></script>
    <script src="https://cdn.klokantech.com/maptilerlayer/v1/index.js"></script>
    <script src="@routes.Assets.at("javascripts/mapController.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiEx0NWUufVn-Oe6YmLhUNZxG-TVb98VM&libraries=places"></script>
  </head>
  <body ng-app="myApp">
    <div class="wrapper-site" ng-controller="Controller">
      <div class="left-content">
        <div class="header left-header">
          <!-- <p class="sign-in"><a href="sign-in.html">Sign-in</a> or <a href="sign-up.html">Sign-up</a></p> -->
        </div>
        <div class="nav-boxes">
          <button ng-click="getUserInfo()"> userinfobutton</button>
            <p> UserInfo: {{userInfo}} </p>
          <div class="current_trip">
            <p>Current Trip: {{currentTrip}}</p>
            <div><button ng-click="addToTrip()">Add to Trip</button></div>
          </div>
          <div>
            <p class="nav-text">Make a New Trip</p>
            <p>Starting Location: Current Location</p>
            <p>Ending Location: {{destination}}</p>
            <quick-datepicker ng-model='newTripDate1'></quick-datepicker>
            <quick-datepicker ng-model='newTripDate2'></quick-datepicker>
            <div><button ng-click="makeTrip()">Make Trip</button></div>
          </div>
          <div class="sign-in">
            <p class="nav-text">Signing-in</p>
            <input type="text" ng-model="signin_email" placeholder="Enter email to sign in">
            <input type="text" ng-model="signin_password" placeholder="Enter password to sign in">
          <div><button ng-click="signin()">Sign in</button></div>
          </div>
          <div class="sign-up">
            <p class="nav-text">Signing-up</p>
            <input type="text" ng-model="signup_email" placeholder="Enter email to sign up">
            <input type="text" ng-model="signup_password" placeholder="Enter password to sign up">
            <input type="text" ng-model="signup_number_of_seats" placeholder="Enter number of seats">
            <input type="text" ng-model="signup_username" placeholder="Enter username">
            <p>Do you have a car? <input type="checkbox" ng-model="signup_has_car"></p>
          <div><button ng-click="signup()">Sign up</button></div>
          </div>
          <div class="edit">
            <p class="nav-text">Editing</p>
            <input type="text" ng-model="edit_email" placeholder="Enter email to edit">
            <input type="text" ng-model="edit_password" placeholder="Enter password to edit">
            <input type="text" ng-model="edit_number_of_seats" placeholder="Enter number of seats">
            <input type="text" ng-model="edit_username" placeholder="Enter username">
            <p>Do you have a car? <input type="checkbox" ng-model="edit_has_car"></p>
          <div><button ng-click="signup()">Sign up</button></div>
          </div>
          <div class="search-trip-by-date">
            <p class="nav-text">Search Trip by Date</p>
            <quick-datepicker ng-model='date1'></quick-datepicker>
            <quick-datepicker ng-model='date2'></quick-datepicker>
          <div><button ng-click="searchTrips()">Search for trips</button></div>
          </div>
          <div class="search-trip-by-tripID">
            <p class="nav-text">Search Trip by Trip ID</p>
            <input type="text" ng-model="search_trip_by_id" placeholder="Search trip by id">
            <div><button ng-click="searchTripByID()">Search for trip by ID</button></div>
          </div>
        </div>
      </div>
      <div class="main-content">     
        <div class="header main-header">
          <p class="hitchhiker-text">Hitchhiker</p>
        </div>
        <div class="map-div">
            <input id="pac-input" class="controls" type="text" placeholder="Type in a destination here">
            <div id="map" ng-init="initMap()"></div>
        </div>
      </div>
    </div>
  </body>
</html>